
body {
    background-color: black;
}

.body__home {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black
}

.container__principal {
    width: 100%;
    background-image: url("../imagens/imagem-home-portifolio.png");
    background-size: cover;
    background-position: center;
}

.header {
    font-family: "Manrope", sans-serif;
    display: flex;
    justify-content: end;
    margin: 20px; /*Aumentar aqui*/
    align-items: center;
}

.header a {
    text-decoration: none;
    color: white;
}

.header:hover a {
    color: blueviolet;
    /*ajustar quando passar o mouse mostrar hover apenas em uma palavra por vez*/
}

.menu {
    word-spacing: 20px;
}

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titulo__home {
    font-family: "Manrope", sans-serif;
    color: white;
    font-size: 60px;
    margin-left: 80px;
}

.paragrafo__principal {
    font-family: "Manrope", sans-serif;
    color: white;
    font-size: 30px;
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
}

b {
    color: blueviolet;
}

.botao {
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 25px;
    margin-left: 100px;
    margin-top: 50px;
}

.botao:hover {
    color: blueviolet;
}

.botao a {
    text-decoration: none;
}