.body__home {
    background-color: black
}

.header {
    border: 1px solid red;
    font-family: "Manrope", sans-serif;
    display: flex;
    justify-content: end;
    margin: 20px; /*Aumentar aqui*/
    align-items: center;
}

.header a {
    text-decoration: none;
    color: white;
}

.menu {
    word-spacing: 20px;
}

/*Colocar Propriedades da foto aqui*/

.titulo__home {
    font-family: "Manrope", sans-serif;
    color: white;
    font-size: 60px;
    margin-left: 80px;
}

.paragrafo__principal {
    font-family: "Manrope", sans-serif;
    color: white;
    font-size: 20px;
    text-align: left;
    margin-left: 80px;
}

b {
    color: blueviolet;
}